
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
    color: #201E43;
}
table {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
}
table img {
    display: block;
}
h1, h2 {
    text-align: center;
    color: #134B70;
}
h2 {
    margin-top: 20px;
}
form {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #FFF;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
table input, table textarea, table select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #508C9B;
    border-radius: 4px;
}
table textarea {
    resize: vertical;
}
table label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
table tr {
    margin-bottom: 10px;
}
input[type="submit"], input[type="reset"] {
    width: 48%;
    padding: 10px;
    background-color: #134B70;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
input[type="reset"] {
    background-color: #ffa8a8;
}
input[type="submit"]:hover {
    background-color: #201E43;
}
input[type="reset"]:hover {
    background-color: #4e4e4e;
}
table.rekap {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table.rekap th, table.rekap td {
    padding: 10px;
    border: 1px solid #508C9B;
    text-align: left;
}
table.rekap th {
    background-color: #134B70;
    color: #fff;
}
table.rekap tr:nth-child(even) {
    background-color: #EEEEEE;
}
table.rekap tr:hover {
    background-color: #508C9B;
    color: #fff;
}